.cats{
height: 50px;
display: flex;
flex: column;
background-color: rgb(128, 190, 245);
background-image: url("pattern2.jpg");
text-decoration: bold;
}
.type{
    padding-top: 1%;
    width: 100px;
    text-align: center;
    margin-right: 10%;
    color: black;
    font-size: large;
    background-color: rgb(114, 212, 236);
    
}
.necklaces{
    text-decoration: none ;
    width: 100px;
    border-radius: 20%;
    padding-top: 1% ;
    text-align: center;
    margin-right: 5%;
    font-size: large;
    background-color: rgb(114, 212, 236);
    color: rgb(37, 35, 35);
    border: 4px blacksmoke solid;
}
.rings{
    width: 100px;
    border-radius: 20%;
    padding-top: 1%;
    text-align: center;
    margin-right: 5%;
    color: black;
    font-size: large;
    background-color: rgb(114, 212, 236);
}
.bracelets{
    width: 100px;
    border-radius: 20%;
    padding-top: 1% ;
    text-align: center;
    margin-right: 5%;
    color: black;
    font-size: large;
    background-color: rgb(114, 212, 236); 
}
.brooches{
    width: 100px;
    border-radius: 20%;
    padding-top: 1% ;
    text-align: center;
    margin-right: 5%;
    color: black;
    font-size: large;
    background-color: rgb(114, 212, 236);
}
.cufflinks{
    width: 100px;
    border-radius: 20%;
    padding-top: 1% ;
    text-align: center;
    margin-right: 5%;
    color: black;
    font-size: large;
    background-color: rgb(114, 212, 236);
}
.pandants{
    width: 100px;
    border-radius: 20%;
    padding-top: 1% ;
    text-align: center;
    margin-right: 5%;
    color: black;
    font-size: large;
    background-color: rgb(114, 212, 236);
}
.earrings{
    border-radius: 20%;
    padding-top: 1% ;
    width: 100px;
    text-align: center;
    margin-right: 5%;
    color: black;
    font-size: large;
    background-color: rgb(149, 218, 235);    
}
.header{
    background-color: rgb(25, 149, 187);
    margin: 0px;
    color: black;
} 
.ring{
    padding-top: 1.5%;
    text-align: center;
    background-color: rgb(64, 124, 124);
    height: 15%;
    min-width: 20%;
    margin: 2%;
    border-radius: 10%;
    margin-left: 4%;
    font-size: large;
    padding-bottom: 15px;
}
.bracelet{
padding-top: 1.5%;
text-align: center;
background-color: rgb(5, 169, 169);
height: 15%;
margin: 1%;
min-width: 20%;
margin: 2%;
border-radius: 10%;
font-size: large;
padding-bottom: 15px;
}
.necklace{
padding-top: 1.5%;
text-align: center;
background-color: rgb(84, 157, 179);
width: 15%;
height: 15%;
margin: 1%;
min-width: 20%;
margin: 2%;
border-radius: 10%;
font-size: large;
padding-bottom: 15px;
}
.earring{
padding-top: 1.5%;
text-align: center;
background-color: rgb(157, 216, 231);
width: 15%;
height: 15%;
margin: 1%;
min-width: 20%;
min-height: 75%;
border-radius: 10%;
margin: 2%;
font-size: large;
padding-bottom: 15px;
}
.content{
   display: flex;
   flex: row;
}
.title{
    text-align: center;
    height: 50px;
    font-size: xx-large;
    padding-top: 10px;
}
h1{
    padding-top: 20px;
}
img{
    border-radius: 10%;
}
#reco{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: black;
    background-color: rgba(128, 204, 248, 0.883);
    margin-top: 0%;
    margin-bottom: 0%;
    width: 275px;
    margin-left: 530px;
    border-radius: 50px;
}
body{
    background-image: url(patterin4.jpg ) ;
}
img{
    padding-bottom: 10px;
}