*{
    color: whitesmoke;
}
.cats{
    height: 60px;
    display: flex;
    flex: column;
    background: linear-gradient(90deg,black,rgb(0, 66, 61),black);
    text-decoration: bold;
    }

    .homepage{
        margin-left: 110px;
        width: 120px;
        border-radius: 20%;
        padding-top: 1% ;
        text-align: center;
        margin-right: 5%;
        font-size: large;
        background-color: rgb(0, 66, 61);
        border: 4px blacksmoke solid;
    }
    .cheapgames{
        width: 120px;
        border-radius: 20%;
        padding-top: 1%;
        text-align: center;
        margin-right: 5%;
        font-size: large;
        background-color: rgb(0, 66, 61);
    }
    .mgames{
        width: 120px;
        border-radius: 20%;
        padding-top: 1% ;
        text-align: center;
        margin-right: 5%;
        font-size: large;
        background-color:rgb(0, 66, 61);
    }
    .egames{
        border-radius: 20%;
        padding-top: 1% ;
        width: 100px;
        text-align: center;
        margin-right: 5%;
        font-size: large;
        background-color: rgb(0, 66, 61);    
    }
    .secondhand{
        width: 120px;
        border-radius: 20%;
        padding-top: 1% ;
        text-align: center;
        margin-right: 5%;
        font-size: large;
        background-color: rgb(0, 66, 61);
    }
    .sgames{
        width: 120px;
        border-radius: 20%;
        padding-top: 1% ;
        text-align: center;
        margin-right: 5%;
        font-size: large;
        background-color: rgb(0, 66, 61);
    }
    .trailler{
        width: 120px;
        border-radius: 20%;
        padding-top: 1% ;
        text-align: center;
        margin-right: 5%;
        font-size: large;
        background-color: rgb(0, 66, 61);
    }
    .header{
        background-color: rgb(0, 66, 61);
        margin: 0px;
        color: whitesmoke;
    } 
    .game1{
        padding-top: 1.5%;
        text-align: center;
        background-color: rgb(0, 66, 61);
        height: 15%;
        min-width: 20%;
        margin: 2%;
        border-radius: 10%;
        margin-left: 4%;
        font-size: large;
        padding-bottom: 15px;
    }
    .game2{
    padding-top: 1.5%;
    text-align: center;
    background-color:rgb(0, 66, 61);
    height: 15%;
    margin: 1%;
    min-width: 20%;
    margin: 2%;
    border-radius: 10%;
    font-size: large;
    padding-bottom: 15px;
    }
    .game3{
    padding-top: 1.5%;
    text-align: center;
    background-color: rgb(0, 66, 61);
    width: 15%;
    height: 15%;
    margin: 1%;
    min-width: 20%;
    margin: 2%;
    border-radius: 10%;
    font-size: large;
    padding-bottom: 15px;
    }
    .game4{
    padding-top: 1.5%;
    text-align: center;
    background-color: rgb(0, 66, 61);
    width: 15%;
    height: 15%;
    margin: 1%;
    min-width: 20%;
    min-height: 75%;
    border-radius: 10%;
    margin: 2%;
    font-size: large;
    padding-bottom: 15px;
    }
    .content{
       display: flex;
       flex: row;
    }
    .title{
        text-align: center;
        height: 50px;
        font-size: xx-large;
        padding-top: 10px;
        background: linear-gradient(90deg,black,rgb(0, 66, 61),black);
    }
    h1{
        padding-top: 20px;
    }
    img{
        border-radius: 10%;
    }
    .reco{
        text-align: center;
        background-color: rgb(0, 66, 61);
        margin-top: 2%;
        width: 1480px;
        height: 200px;
        border-radius: 40px;
    }
    body{
        background-image: url(patterin4.jpg ) ;
        background-repeat:no-repeat ;
        background-size: cover;
    }
    img{
        padding-bottom: 10px;
    }
    a{    
        text-decoration: black;
        color: whitesmoke;
    }
    .cheapgames:hover{
        background-color: seagreen;
    }
    .sgames:hover{
        background-color:seagreen;
    }
    .egames:hover{
        background-color: seagreen;
    }
    .homepage:hover{
        background-color:seagreen;
    }
    .mgames:hover{
        background-color: seagreen;
    }
    .secondhand:hover{
        background-color: seagreen;
    }
    .trailler:hover{
        background-color: seagreen;
    }
    .pics{
        margin-right: 30px;
        margin-top: 17px;        
    }
    button{
        background-color: rgb(0, 66, 61);
        color: whitesmoke;
        width: 220px;
        margin-top: 10px;
        border-radius: 35px;
    }
    button:hover{
        background-color:seagreen ;
    }

.footer{
    padding-left: 190px;
    color: whitesmoke;
    font-size: larger;
    height: 50px;
    background: linear-gradient(90deg,black,rgb(0, 66, 61),black);
}

.fa {
   
    text-align: center;
    text-decoration: none;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
    padding-left: 5px;
  }
  
  .fa-instagram {
    background: linear-gradient(purple,hotpink,hotpink,yellow);
    color: white;
  }
  .fa-whatsapp{
    background: green;
    color: navajowhite;
  }
  